@import '../../../helpers/mixins';

.menu__list {
  @include default_box;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 80px;
  max-width: 480px;
  padding-top: 313px;

  @media screen and (max-width: 767px) {
    gap: 40px;
    min-width: 280px;
    max-width: 360px;
    padding-top: 116px;
  }
}
