.about__card-img_size_kendall {
  width: 875px;
  padding-right: 175px;

  @media screen and (max-width: 1023px) {
    width: 485px;
    padding-right: 121px;
    padding-top: 50px;
    padding-bottom: 18px;
  }
  @media screen and (max-width: 767px) {
    width: 280px;
    padding: 0;
  }
}
