@import '../../../helpers/mixins';
@import '../../../helpers/variables';

.looks__title {
  @include title;
  color: $color-black;
  font-size: $font-size-headline;
  line-height: $line-height-headline;
  letter-spacing: $letter-spacing-4;
  margin-bottom: 40px;

  @media screen and (max-width: 1023px) {
    font-size: $font-size-paragraph-big;
    line-height: $line-height-headline-small;
  }
  @media screen and (max-width: 767px) {
    font-size: $font-size-headline-small;
    line-height: $line-height-paragraph-small;
    margin-bottom: 20px;
  }
}
