@import '../../../helpers/mixins';
@import '../../../helpers/variables';

.header__title {
  @include title;
  color: $color-black;
  font-size: $font-size-headline;
  line-height: $line-height-headline;
  padding-bottom: 44px;
  letter-spacing: $letter-spacing-4;
}
