.menu__body {
  min-height: 810px;
  width: 100%;
  background:  linear-gradient(
    to right,
    #000 0%,
    #000 480px,
    #666 480px,
    #666 100%
  );
  position: absolute;
  left: -100%;
  top: 0;
  z-index: 5;
  transition: ease 0.1s;

  @media screen and (max-width: 767px) {
    min-height: 360px;
    background:  linear-gradient(
    to right,
    #000 0%,
    #000 360px,
    #666 360px,
    #666 100%
  );
  }
}
