@mixin section {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  margin-bottom: 80px;
}

@mixin title {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 500;
  text-transform: uppercase;
}

@mixin image {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: block;
  object-fit: cover;
  z-index: 0;
}

@mixin default_box {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
