@mixin section {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  margin-bottom: 80px;

  @media screen and (max-width: 1023px) {
    margin-bottom: 60px;
  }
  @media screen and (max-width: 767px) {
    margin-bottom: 40px;
  }
}

@mixin title {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 500;
  text-transform: uppercase;
}

@mixin paragraph {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 400;
}

@mixin image {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: block;
  z-index: 0;
  object-fit: cover;
}

@mixin default_box {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
