$color-black: #0A0A0A;
$color-white: #FFFFFF;

$font-size-headline: 48px;
$line-height-headline: 64px;

$font-size-paragraph: 32px;
$line-height-paragraph: 44px;

$font-size-paragraph-small: 20px;
$line-height-paragraph-small: 32px;

$font-size-paragraph-xsmall: 16px;
$line-height-paragraph-xsmall: 24px;
