@import '../../../helpers/mixins';
@import '../../../helpers/variables';

.form__button-submit {
  @include title;
  font-family: 'Prompt', sans-serif;
  font-size: $font-size-paragraph-xsmall;
  line-height: $line-height-paragraph-xsmall;
  letter-spacing: $letter-spacing-2;
  padding: 12px 24px;
  background-color: $color-white;
  color: $color-black;
  border: 0.5px $color-white solid;
  cursor: pointer;
  transition: ease 0.4s;

  &:hover {
    color: $color-white;
    background-color: $color-black;
  }

  @media screen and (max-width: 767px) {
    width: 100%;
  }
}
