@import '../../../../helpers/variables';

.about__paragraph_size_small {
  color: $color-black;
  font-size: $font-size-paragraph-small;
  line-height: $line-height-paragraph-small;

  @media screen and (max-width: 767px) {
    font-size: $font-size-paragraph-xsmall;
    line-height: $line-height-paragraph-xsmall;
  }
}
