@import '../../../helpers/mixins';
@import '../../../helpers/variables';

.menu__icon-text {
  @include title;
  font-size: $font-size-paragraph-xsmall;
  font-weight: $line-height-paragraph-xsmall;
  letter-spacing: $letter-spacing-2;
}
