@import '../../helpers/mixins';

.header {
  @include section;
  min-height: 426px;
  position: relative;
  background-color: #E7E7E2;
  overflow: hidden;
  display: flex;
  justify-content: space-between;

  @media screen and (max-width: 1023px) {
  }
  @media screen and (max-width: 767px) {
  }
}
