@import '../../../helpers/mixins';
@import '../../../helpers/variables';

.form__input {
  @include paragraph;
  font-family: 'Prompt', Arial, sans-serif;
  font-size: $font-size-paragraph-xsmall;
  line-height: $line-height-paragraph-xsmall;
  padding: 12px 24px;
  background-color: transparent;
  color: $color-white;
  border: 0.5px $color-white solid;
  width: 100%;

  @media screen and (max-width: 767px) {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
